<h1>Editing Administrative Process</h1>

<%= render 'form', administrative_process: @administrative_process %>

<%= link_to 'Show', @administrative_process %> |
<%= link_to 'Back', administrative_processes_path %>
